# Dependencies
node_modules/
dist/
build/

# Python
__pycache__/
*.pyc
*.pyo
*.log
*.sqlite3

# Environments
.env



# Local RAG Data & Models
backend/data/
backend/models/
backend/failed_pages/
backend/media/

# OS Files
.DS_Store
Thumbs.db
